<style>
  /*The following style was found at https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_topnav*/
  .topnav {
    overflow: hidden;
    background-color: #333;
  }

  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
</style>

<div class="container">
  <div class="row topnav">
    <a href="/">Home</a>
    <a href="./recipes/">Submit Recipe</a>
    <a href="./users/">Our Chefs</a>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Our Chefs</h1>
      <table class="table table-responsive table-striped table-bordered">
        <thead>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Username</th>
          <th>Email</th>
          <th>Edit Chef</th>
          <th>Delete Chef</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="chef in chefController.users">
          <td>{{chef.name.firstName}}</td>
          <td> {{chef.name.lastName}}</td>
          <td>{{chef.username}}</td>
          <td>{{chef.email}}</td>
          <td><button id="edit" ng-click="chefController.edit(chef)" type="button" class="btn btn-default">Edit {{chef._id}}</button></td>
          <td><button id="delete" ng-click="chefController.delete(chef)" type="button" class="btn btn-default">Delete {{chef._id}}</button></td>
        </tr>
        </tbody>
      </table>
      <button type="button" id="add" ng-click="chefController.add();" class="button btn btn-default">Add Chef</button>

      <footer>
        <br>
        <br>
        <br>
        <br>
        <br>
      </footer>
    </div>
  </div>
</div>
