<div class="container">
  <div class="row">
    <div class="topnav">
      <a href="/">Home</a>
      <a href="./recipes/">Submit Recipe</a>
      <a href="./users/">Our Chefs</a>
    </div>
    <div class="col-lg-12" align="center">
      <h1 class="page-header" align="center">Add New Recipe</h1>
      <form id="myForm" enctype='application/json'>
        <fieldset>
          <label for="name" class="contact">Name: <input id="name" name="name" required="required" ng-model="recipeController.recipes.name" class="form-control"/></label>
          <br>
          <label for="description" class="contact">Description: <input id="description" name="description" required="required" ng-model="recipeController.recipes.description" class="form-control"/></label>
          <br>
          <label for="image" class="contact">Image URL: <input id="image" name="image" required="required" ng-model="recipeController.recipes.image" class="form-control"/></label>
          <br>
          <label for="prepTime" class="contact">Prep Time: <input id="prepTime" name="prepTime" required="required" ng-model="recipeController.recipes.prepTime" class="form-control"/></label>
          <br>
          <label for="cookTime" class="contact">Cook Time: <input id="cookTime" name="cookTime" required="required" ng-model="recipeController.recipes.cookTime" class="form-control"/></label>
          <br>
          <table style="width:85%;" id="ingredients" class="submitIngredients">
            <tr>
              <th>Name</th>
              <th>Amount</th>
            </tr>
            <tr>
              <td>
                <input name="ingredients[name]" required="required" ng-model="recipeController.recipes.ingredients.name" class="form-control"/>
              </td>
              <td>
                <input name="ingredients[amount]" required="required" ng-model="recipeController.recipes.ingredients.amount" class="form-control"/>
              </td>
            </tr>
          </table>
          <br>
          <label class="contact">Directions:
            <div id="dir"><input name="directions" required="required" ng-model="recipeController.recipes.directions" class="form-control"/></div>
          </label>
          <br>
        </fieldset>

        <div class="buttons" style="margin-right:10%">
          <button type="button" id="send" ng-click="recipeController.submitForm();" class="button">Send</button>
          <button type="reset" name="clear" class="button">Reset Form</button>
          <button type="button" id="addIngr" ng-click="recipeController.addIngr();" class="button">Add Ingredient</button>
          <button type="button" id="addDire" ng-click="recipeController.addDire();" class="button">Add Direction</button>
        </div>
      </form>
    </div>
  </div>
</div>
