<style>
  /*The following style was found at https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_topnav*/
  .topnav {
    overflow: hidden;
    background-color: #333;
  }

  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }

  a {
    color: black;
  }

  a:hover {
    color: black;
  }

  .review {
    border:solid;
    background-color:white;
    border-radius: 5px;
    padding:10px;
  }

  .reviewData {
    height: 100%;
    width: 100%;
  }
</style>

<div class="container">
  <div class="row topnav">
    <a href="/">Home</a>
    <a href="./recipes/">Submit Recipe</a>
    <a href="./users">Our Chefs</a>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header" align="center"><a ng-click="recipeDetailsController.updateName(recipeDetailsController.recipes)">{{ recipeDetailsController.recipes.name }}</a></h1>
      <div>
        <div style="width:100%;height:600px;overflow:hidden;align:center;">
        <a ng-click="recipeDetailsController.updateImage(recipeDetailsController.recipes)"><img src="{{recipeDetailsController.recipes.image}}"/></a>
        </div>

        <table class="table table-responsive table-striped table-bordered">
          <tr>
            <th><a ng-click="recipeDetailsController.updateDescription(recipeDetailsController.recipes)">Description</a></th>
            <td colspan="2">{{recipeDetailsController.recipes.description}}</td>
          </tr>
          <tr>
            <th><a ng-click="recipeDetailsController.updatePrep(recipeDetailsController.recipes)">Prep Time<a/></th>
            <td colspan="2">{{recipeDetailsController.recipes.prepTime}}</td>
          </tr>
          <tr>
            <th><a ng-click="recipeDetailsController.updateCook(recipeDetailsController.recipes)">Cook Time</a></th>
            <td colspan="2">{{recipeDetailsController.recipes.cookTime}}</td>
          </tr>
          <tr>
            <th><a ng-click="recipeDetailsController.updateIngredients(recipeDetailsController.recipes)">Ingredients</a></th>
            <td rowspan="2">
              <table class="table table-responsive table-striped table-bordered">
                <tr>
                  <th>Name</th>
                  <th>Amount</th>
                </tr>
                <tr ng-repeat="ingredient in recipeDetailsController.recipes.ingredients">
                  <td><a ng-click="recipeDetailsController.deleteIngredient(ingredient.name, ingredient.amount);">{{ingredient.name}}</a></td>
                    <td>{{ingredient.amount}}</td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td><button ng-click="recipeDetailsController.addIngredient(recipeDetailsController.recipes)" type="button" class="btn btn-default">Add Ingredient</button></td>
          </tr>
        </table>

        <h3 align="center"><a ng-click="recipeDetailsController.updateDirections(recipeDetailsController.recipes)">Directions</a></h3>
        <ul ng-repeat="direction in recipeDetailsController.recipes.directions">
          <li><a ng-click="recipeDetailsController.deleteDirection(direction)">{{direction}}</a></li>
        </ul>

        <button ng-click="recipeDetailsController.addDirection(recipeDetailsController.recipes)" type="button" class="btn btn-default">Add Direction</button>

        <h3 align="center">Reviews</h3>
        <div ng-repeat="review in recipeDetailsController.recipes.reviews" border="solid">
          <div class="review">
            <table class="reviewData">
              <tr>
                <th class="col-xs-4 col-sm-4 col-md-3 col-lg-3"><a ng-click="recipeDetailsController.updateReviewDescription(review, recipeDetailsController.recipes)">Description</a></th>
                <th class="col-xs-4 col-sm-4 col-md-3 col-lg-3"><a ng-click="recipeDetailsController.updateReviewRating(review, recipeDetailsController.recipes)">Rating</a></th>
                <th class="hidden-xs hidden-sm col-md-2 col-lg-2">Created On:</th>
                <th class="hidden-xs hidden-sm col-md-2 col-lg-2">Created By:</th>
                <th class="col-xs-4 col-sm-4 col-md-2 col-lg-2">Delete Review</th>
              </tr>
              <tr>
                <td class="col-xs-4 col-sm-4 col-md-3 col-lg-3">{{review.description}}</td>
                <td class="col-xs-4 col-sm-4 col-md-3 col-lg-3">
                  <span uib-rating ng-model="review.rating" max="recipeDetailsController.maxRating" read-only="true" on-leave="recipeDetailsController.overStar = null" titles="['one','two','three']"></span>
                </td>
                <td class="hidden-xs hidden-sm col-md-2 col-lg-2">{{review.createDate}}</td>
                <td class="hidden-xs hidden-sm col-md-2 col-lg-2">{{review.user}}</td>
                <td class="col-xs-4 col-sm-4 col-md-2 col-lg-2"><button ng-click="recipeDetailsController.deleteReview(recipeDetailsController.recipes, review)" type="button" class="btn btn-default">Delete {{review._id}}</button></td>
              </tr>
            </table>
          </div>
          <br>
        </div>
        <button ng-click="recipeDetailsController.addReview(recipeDetailsController.recipes)" type="button" class="btn btn-default">Add Review</button>


          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
      </div>
    </div>
