<div class="modal-content">
  <form id="createRecipe" name="createRecipe" role="form" class="form-horizontal">
    <div class="modal-header">
      <button type="button" ng-click="createRecipeController.cancel()" class="close"><span
        aria-hidden="true">×</span><span class="sr-only">Close</span></button>
      <h4 id="myModalLabel" class="modal-title">Creating user {{ createRecipeController.user._id }}</h4>
    </div>
    <div class="modal-body">
      <div role="alert" ng-show="createRecipeController.formError" class="alert alert-danger">{{ createRecipeController.formError }}</div>
      <div role="alert" ng-show="createRecipeController.formInfo" class="alert alert-info">{{ createRecipeController.formInfo }}</div>
      <div class="form-group">
        <div class="col-xs-10 col-sm-10">
          <input id="name" placeholder="Name" name="name" required="required" ng-model="createRecipeController.recipe.name" class="form-control"/>
          <input id="description" placeholder="Description" name="description" required="required" ng-model="createRecipeController.recipe.description" class="form-control"/>
          <input id="image" placeholder="Image URL" name="image" ng-model="createRecipeController.recipe.image" class="form-control"/>
          <input id="prepTime" placeholder="Prep Time (Minutes)" name="prepTime" required="required" ng-model="createRecipeController.recipe.prepTime" class="form-control"/>
          <input id="cookTime" placeholder="Cook Time (Minutes)" name="cookTime" required="required" ng-model="createRecipeController.recipe.cookTime" class="form-control"/>
          <input id="directions" placeholder="Directions" name="directions" ng-model="createRecipeController.recipe.directions" class="form-control"/>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button ng-click="createRecipeController.cancel()" type="button" class="btn btndefault">
        Cancel</button>
      <button ng-click="createRecipeController.direction()" type="button" class="btn btndefault">
        Add Direction</button>
      <button ng-click="createRecipeController.ingredient()" type="button" class="btn btndefault">
        Add Ingredient</button>
      <button type="submit" class="btn btn-primary" ng-click="createRecipeController.submitForm()">Create Recipe</button>
    </div>
  </form>
</div>
